@import '../../../styles/abstracts/variables';
.card {
  display: block;
  margin: 3rem auto;
  position: relative;
  max-width: 50rem;
  //   height: 600px;
  width: 100%;
  border-radius: 0.6rem;
  background-color: $color-white;
  -webkit-box-shadow: 6px 8px 12px -1px rgba(0, 0, 0, 0.19);
  box-shadow: 6px 8px 12px -1px rgba(0, 0, 0, 0.19);
  &__wrapper {
    padding: 1rem 0;
  }
  &__image {
    display: inline-block;
    text-align: center;
    width: 40%;

    margin-left: 2rem;

    img {
      vertical-align: bottom;
      width: 100%;
    }
  }
  &__preview {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin-left: 2rem;

    &-synopsis,
    &-release {
      padding-top: 1rem;
    }
  }
  &__menu-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

@media only screen and (max-width: 430px) {
  .card {
    max-width: 30rem;
    &__image {
      display: block;
      padding-top: 1rem;
      margin: 0 auto;

      img {
        max-width: 200px;
        margin: 0 auto;
        display: block;
      }
    }
    &__preview {
      display: block;
      width: 80%;
      padding: 1rem;
      margin: 0 auto;
    }
  }
}
