<div class="card" *ngIf="book">
  <div class="card__wrapper row">
    <div class="card__image col-1-of-2">
      <img src="{{ book.cover }}" alt="{{ book.title }} Cover image" />
    </div>
    <div class="card__preview col-1-of-2">
      <h1 class="card__preview-title">
        {{ book.title }}
      </h1>
      <h3 class="card__preview-author">Written by {{ book.author }}</h3>
      <h4>Released on {{ book.releaseDate }}</h4>
      <p class="card__preview-synopsis">{{ book.synopsis }}</p>
      <div class="card__preview-genre-block">
        <span class="bolder">Genre</span> <br />
        <span *ngFor="let genre of book.genres">
          {{ genre }}
        </span>
      </div>
    </div>
  </div>
  <div
    class="card__menu-button"
    *ngIf="isActionActive"
    (mouseover)="toggleDropdown()"
    (mouseout)="toggleDropdown()"
  >
    <img
      class="card__menu-button"
      src="../../../assets/icons/edit.svg"
      alt=""
    />

    <ul
      class="card__dropdown-menu"
      [ngClass]="isOpened ? 'active' : 'inactive'"
    >
      <li
        *ngFor="let option of menuOptions; let i = index"
        (click)="selectAction(i)"
      >
        <span> {{ option }}</span>
      </li>
    </ul>
  </div>
</div>
