<div class="card">
  <div class="card__wrapper row">
    <div class="card__image col-1-of-2">
      <img
        src="http://localhost:4200/assets/covers/gulliver2.jpg"
        alt="{{ book.title }} Cover image"
      />
    </div>
    <div class="card__preview col-1-of-2">
      <h1 class="card__preview-title">
        {{ book.title }}
      </h1>
      <h3 class="card__preview-author">
        {{ book.author }}
      </h3>
      <h5>
        {{ book.releaseDate }}
      </h5>
      <p class="card__preview-synopsis">{{ book.synopsis }}</p>
      <!-- <p class="card__preview-release">{{ book.releaseDate }}</p> -->
    </div>
  </div>
</div>

<!-- <p *ngFor="let book of books"> -->
<!-- {{ book.author }} -->
<!-- {{ book.cover }} -->
<!-- </p> -->
