@import '../../../styles/abstracts/variables';
.card__collection {
  // max-width: 600px;
  // width: 100%;
  // margin: 100px auto;
  // display: block;
  // padding-left: 4rem;
  &-header {
    // max-width: 500px;
    // max-width: 74%;
    // width: 100%;
    // margin-top: -70px;
    // display: block;
    // position: fixed;

    z-index: 1;
  }
  &-books {
    display: block;
    // margin-top: 30px;
  }
  &-pagination {
    display: block;
    text-align: center;
  }
  &-message {
    padding: 2rem 0;
    text-align: center;
    // height: 8rem;
    max-width: 300px;

    width: 100%;
    margin: 0 auto;
    color: green;
    border: 0.2rem solid green;
    border-radius: 12px;
    & p {
      font-size: 1.8rem;
      line-height: 1.4rem;
    }
  }
}
.my-pagination ::ng-deep .ngx-pagination {
  margin: 0 auto;
  // display: inline-block;
  // max-width: 290px;
  // background: red;wi
  font-size: 1.5rem;
  // &:hover{

  // }
  .current {
    background-color: $color-primary;
    color: $color-black;
    font-size: 1.7rem;
  }
}
