<div class="card__collection">
  <div class="card__collection-header">
    <app-content-header
      (searchCriteria)="onSearch($event)"
    ></app-content-header>
  </div>
  <div class="card__collection-books">
    <div class="card__collection-message" *ngIf="isSuccessMessage">
      <p>{{ successMessage }}</p>
      <!-- <p>SSSS</p> -->
    </div>
    <app-card
      *ngFor="
        let book of filteredBooks
          | paginate: { itemsPerPage: 3, currentPage: p };
        let i = index
      "
      [book]="book"
      (selectedAction)="onActionSelected($event)"
    ></app-card>
  </div>
  <div class="card__collection-pagination" *ngIf="books">
    <pagination-controls
      class="my-pagination"
      (pageChange)="p = $event"
    ></pagination-controls>
  </div>
</div>
