@import '../../../styles/abstracts/variables';
.card__collection {
  // max-width: 600px;
  // width: 100%;
  // margin: 100px auto;
  // display: block;
  // padding-left: 4rem;
  &-header {
    // max-width: 500px;
    // max-width: 74%;
    // width: 100%;
    // margin-top: -70px;
    // display: block;
    // position: fixed;

    z-index: 1;
  }
  &-books {
    display: block;
    // margin-top: 30px;
  }
  &-pagination {
    display: block;
    text-align: center;
  }
}
.my-pagination ::ng-deep .ngx-pagination {
  margin: 0 auto;
  // display: inline-block;
  // max-width: 290px;
  // background: red;wi
  font-size: 1.5rem;
  .current {
    background-color: $color-primary;
    color: $color-black;
  }
}
