<header class="header">
  <div class="header__wrapper row">
    <span class="header__brand col-1-of-2">
      <a routerLink="/" class="header__brand-link">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Celonis_Logo.png"
          alt="Celonis Logo"
          class="header__logo header__logo--mobile"
        />
      </a>
    </span>
    <span class="header__user col-1-of-2">
      <a routerLink="/" class="header__user-link">
        <img
          *ngIf="user.avatarUrl"
          src="{{ user.avatarUrl }}"
          alt="User Avatar"
          class="header__avatar header__avatar--mobile"
        />
        <h2 class="header__user-name">{{ user.username }}</h2>
      </a>
    </span>
  </div>
</header>
