@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixins';

.header {
  display: block;
  height: 10rem;
  position: relative;
  width: 100%;
  @include sticky;
  background-color: rgb(19, 19, 19);
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)
  );
  // -webkit-box-shadow: -1px 5px 17px -8px #000000;
  // box-shadow: -1px 5px 17px -8px #000000;
  z-index: $z-index-header;
  &__brand {
    max-width: 14rem;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
  }
  &__user {
    position: absolute;
    max-width: 10rem;
    width: 100%;
    right: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    a {
      text-decoration: none;
      color: $color-black;
    }
  }
  &__logo,
  &__avatar {
    display: inline-block;
    max-height: 6rem;
  }
}
