<div class="editor">
  <div class="editor__nav">
    <h1 class="hero--heading">Wizzard</h1>
    <h2>Create your own book record</h2>
  </div>
  <app-card [book]="bookToEdit"></app-card>
  <div class="editor__wrapper">
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <div class="editor__metadata">
        <div class="editor__metadata-title">
          <label for="text">* Cover Image URL Address</label>
          <input
            (keyup)="updateCardPreview($event)"
            placeholder="assets/covers/image_name.jpg"
            required
            type="text"
            name="cover"
            [(ngModel)]="bookToEdit.cover"
            #title="ngModel"
          />
          <span class="editor__help-block" *ngIf="!title.valid && title.touched"
            >Please add a cover image url</span
          >
        </div>
        <div class="editor__metadata-title">
          <label for="text">* Title</label>

          <input
            (keyup)="updateCardPreview($event)"
            required
            ngModel
            placeholder="The fascinating world of programming"
            type="text"
            name="title"
            #title="ngModel"
          />
          <span class="editor__help-block" *ngIf="!title.valid && title.touched"
            >Please add a book title</span
          >
        </div>
        <div class="editor__metadata-author">
          <label for="text">Author</label>
          <input
            ngModel
            (keyup)="updateCardPreview($event)"
            placeholder="John Doe"
            type="text"
            name="author"
          />
        </div>
        <div class="editor__metadata-genres">
          <label for="text">Genres</label>
          <input
            ngModel
            (keyup)="updateCardPreview($event)"
            placeholder="Fiction, Literature, etc..."
            type="text"
            name="genres"
          />
        </div>
        <div class="editor__metadata-synopsis">
          <label for="text">* Synopsis (250 characters)</label>
          <textarea
            ngModel
            (keyup)="updateCardPreview($event)"
            placeholder="Passage of the book which will be displayed as a preview. "
            required
            rows="5"
            type="text"
            maxlength="240"
            name="synopsis"
          ></textarea>
        </div>
      </div>
      <div class="editor__book-actions">
        <div class="editor__book-actions--delete editor__radio">
          <h3>Deletable</h3>
          <div *ngFor="let action of actionsOptions">
            <label for="">
              <input required type="radio" name="deletable" [value]="action" />
              {{ action }}
            </label>
          </div>
        </div>
        <div class="editor__book-actions--edit editor__radio">
          <h3>Editable</h3>
          <div *ngFor="let action of actionsOptions">
            <label for="">
              <input required type="radio" name="editable" [value]="action" />
              {{ action }}
            </label>
          </div>
        </div>
      </div>
      <button class="btn btn--save" type="submit" [disabled]="!form.valid">
        Create Record
      </button>
      <button
        class="btn btn--back"
        type="button"
        (click)="returnToCollection()"
      >
        Cancel
      </button>
    </form>
  </div>
</div>
