.home {
  width: 100%;
  &__header-main {
    width: 100%;
    text-align: center;
  }
  &__nav-side {
    max-width: 70px;
    position: fixed;
    height: 100%;
  }
  &__content-area {
    display: block;
    width: 70%;
    padding-left: 70px;
    margin: 100px auto;
  }
}

@media only screen and (max-width: 400px) {
  .home {
    width: 100%;

    &__content-area {
      display: block;
      width: 90%;
      margin: 100px auto;
    }
  }
}
