<nav class="nav">
  <div
    class="nav__wrapper"
    [ngClass]="expanded ? 'nav-expanded' : 'nav-closed'"
  >
    <img
      class="nav__expand"
      (click)="toggle()"
      src="http://localhost:4200/assets/icons/right-angle.svg"
      alt="Right Angle"
    />
    <ul class="nav__list">
      <li routerLinkActive="nav__listitem-active" class="nav__listitem">
        <a routerLink="/collection"
          ><img
            class="icon"
            src="http://localhost:4200/assets/icons/collection.svg"
            alt=""
          />
          <p>Collection</p></a
        >
      </li>
      <li class="nav__listitem" routerLinkActive="nav__listitem-active">
        <a routerLink="/settings">
          <img
            class="icon"
            src="http://localhost:4200/assets/icons/cogwheel.svg"
            alt=""
          />
          <p>Settings</p></a
        >
      </li>
      <li class="nav__listitem" routerLinkActive="nav__listitem-active">
        <a routerLink="/editor"
          ><img
            class="icon"
            src="http://localhost:4200/assets/icons/add-book.svg"
            alt=""
          />
          <p>Wizzard</p></a
        >
      </li>
    </ul>
  </div>
</nav>
