<div class="editor" *ngIf="bookToEdit">
  <div class="editor__nav">
    <h1 class="hero--heading">Book Editor</h1>
  </div>
  <app-card [book]="bookToEdit" [isCardSettings]="isCardAction"></app-card>
  <div class="editor__wrapper">
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <div class="editor__metadata">
        <div class="editor__metadata-title">
          <label for="text">* Cover Image URL Address</label>
          <input
            (keyup)="updateCardPreview($event)"
            placeholder="assets/covers/image_name.jpg"
            required
            type="text"
            [ngModel]="bookToEdit.cover"
            name="cover"
            #title="ngModel"
          />
          <!-- <span class="editor__help-block" *ngIf="!title.valid && title.touched"
            >Please add a cover image url</span
          > -->
        </div>
        <div class="editor__metadata-title">
          <label for="text">* Title</label>

          <input
            (keyup)="updateCardPreview($event)"
            required
            placeholder="The fascinating world of programming"
            type="text"
            [ngModel]="bookToEdit.title"
            name="title"
            #title="ngModel"
          />
          <!-- <span class="editor__help-block" *ngIf="!title.valid && title.touched"
            >Please add a book title</span
          > -->
        </div>
        <div class="editor__metadata-author">
          <label for="text">* Author</label>
          <input
            required
            (keyup)="updateCardPreview($event)"
            placeholder="John Doe"
            type="text"
            [ngModel]="bookToEdit.author"
            name="author"
          />
          <!-- <span class="editor__help-block" *ngIf="!title.valid && title.touched"
            >Please add the book author</span
          > -->
        </div>
        <div class="editor__metadata-genres">
          <label for="text">Genres</label>
          <input
            (keyup)="updateCardPreview($event)"
            placeholder="Fiction, Literature, etc..."
            type="text"
            [ngModel]="bookToEdit.genres"
            name="genres"
          />
        </div>
        <div class="editor__metadata-synopsis">
          <label for="text">Synopsis (250 characters)</label>
          <textarea
            (keyup)="updateCardPreview($event)"
            placeholder="Passage of the book which will be displayed as a preview. "
            rows="5"
            type="text"
            maxlength="240"
            [ngModel]="bookToEdit.synopsis"
            name="synopsis"
          ></textarea>
        </div>
      </div>
      <div class="editor__book-actions">
        <div class="editor__book-actions--delete editor__radio">
          <h3>Deletable</h3>
          <div *ngFor="let action of actionsOptions">
            <label for="">
              <input
                required
                type="radio"
                name="deletable"
                [ngModel]="bookToEdit.deletable"
                [value]="action"
              />
              {{ action }}
            </label>
          </div>
        </div>
        <div class="editor__book-actions--edit editor__radio">
          <h3>Editable</h3>
          <div *ngFor="let action of actionsOptions">
            <label for="">
              <input
                required
                type="radio"
                name="editable"
                [ngModel]="bookToEdit.editable"
                [value]="action"
              />
              {{ action }}
            </label>
          </div>
        </div>
      </div>
      <button class="btn btn--save" type="submit" [disabled]="!form.valid">
        Save Changes
      </button>
      <button
        class="btn btn--back"
        type="button"
        (click)="returnToCollection()"
      >
        Cancel
      </button>
    </form>
  </div>
</div>
