.editor {
  input[type='text'],
  select,
  textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 0.5rem 0 2rem 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  label {
    font-size: 1.4rem;
    padding-bottom: -1rem;
  }
  input.ng-invalid.ng-touched {
    border: 1px solid red;
  }
}
