@import '../../../styles/abstracts/mixins';
@import '../../../styles/abstracts/variables';

.header {
  margin: 0 auto;

  z-index: $z-index-header;
  &__wrapper {
    display: block;
    height: 6rem;
    width: 100%;
    input[type='search'] {
      display: inline-block;
      right: 2rem;

      position: absolute;
      vertical-align: middle;
      font-size: medium;
      margin-top: 1.4rem;

      border-radius: 5px;
      border-color: rgb(110, 110, 110);
    }
  }
}
